<!doctype html>
<html>
<head>
    <title>URL Validator</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <h1 style="color:green;">URL IS A VALID URL</h1>
    <img src="images/200ok.jpg" alt=""width:500px;height:600px;">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> URL VALIDATOR </h1>

        <a href="/upload" class="btn btn-default"><span class="fa fa-user"></span> Upload url again </a>
    </div>

</div>
</body>
</html>